.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-play {
  width: 75%;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
}

.ready {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin-top: 20px;
}

.score {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.game-board {
  width: 100%;
  //height: auto;
  display: grid;
  grid-template-columns: repeat(4, 275px); /* Increased size */
  grid-gap: 20px; /* Increased gap between cards */
  justify-content: center;
  align-items: center;
}

.card {
  width: 280px; /* Increased width */
  height: 180px; /* Increased height */
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #3946eb; /* Add a border to both sides */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  padding: 5px;
}

.card-front {
  background: #3946eb;
  border: 2px solid #3946eb; /* Rounded corners */
}

.card-back {
  background: #ffffff;
  transform: rotateY(180deg);
  font-size: 20px;
  border: 2px solid #3946eb; /* Ensure the border is visible when flipped */
}

/* Add this for hidden cards */
.hidden {
  visibility: hidden;
}

button {
  margin-top: 20px;
  font-size: 16px; /* Increased font size for button */
}

.game-over {
  text-align: center;
  margin-top: 20px;
}

.game-over p {
  font-size: 18px;
}

button.button-play {
  margin-top: 20px;
  font-size: 16px;
}
