.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.score {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 150px); /* Increased size */
  grid-gap: 200px; /* Increased gap between cards */
}

.card {
  width: 500px;  /* Increased width */
  height: 300px; /* Increased height */
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: #3946eb;
  border-radius: 8px; /* Rounded corners */
}

.card-back {
  background: #ffffff;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Increased font size */
  border-radius: 8px; /* Rounded corners */
}

/* Add this for hidden cards */
.hidden {
  visibility: hidden;
}

button {
  margin-top: 20px;
  font-size: 16px; /* Increased font size for button */
}

