#container {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
}

#container-center {
  width: 80%;
  height: 100%;
  padding: 20px 0;
}

.title-First {
  font-size: 30px;
  font-weight: 700;
}

.category-bar {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;

  mat-chip-option {
    width: fit-content;
  }

  mat-chip-option::ng-deep .mdc-evolution-chip__text-label {
    color: var(--md-sys-color-on-primary-fixed-variant) !important;
    font-weight: 600;
  }

  mat-chip-option::ng-deep .mdc-evolution-chip__action--primary::before {
    border-style: none;
  }
}

#vegeta {
  width: 100%;
}

.category {
  margin: 0 1px;
  color: var(--md-sys-color-surface-tint);
  font-weight: 550;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s;
  letter-spacing: -0.5px;
}

.category:hover,
.category:active {
  background-color: var(--md-sys-color-on-primary);
}

#Button-Back-Next {
  display: flex;
  gap: 1px;
  color: var(--md-sys-color-on-surface);
}

mat-card-actions button {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid var(--md-sys-color-surface-dim);
  border-radius: 12px;
  background-color: var(--md-sys-color-surface-dim);
  color: var(--md-sys-color-inverse-surface);
}
