#navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

.navbar-brand .logo {
  font-size: 24px;
  font-weight: 800;
  color: var(--md-sys-color-primary-container);
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: 10px;
}

.navbar-nav .nav-item {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.navbar-nav .nav-item.active::after {
  position: absolute;
  bottom: -22px;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  background-color: var(--md-sys-color-tertiary-container);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 28px;
  padding: 0 12px;
  margin: 0 auto; /* Center the search container */
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  background-color: unset;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.btn-add {
  background-color: var(--md-sys-color-primary-container);
}

.icon {
  font-size: 24px;
  color: var(--md-sys-color-on-primary-container);
  cursor: pointer;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 5px;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    display: none;
  }

  .search-container {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .search-container {
    width: 50%;
  }
}
