<nav id="navbar-container">
  <div class="navbar-brand" (click)="navigateToHome()">
    <img src="assets/logo/Asset%2024.png" alt="this is mindory logo"  class = "logo"/>
  </div>
  <ul class="navbar-nav">
    @for (page of navLinks; track $index) {
      <li
        [ngClass]="{ active: activeLink === page }"
        (click)="setActive(page)"
        class="nav-item"
      >
        {{ page.name }}
      </li>
    }
  </ul>
  <div class="search-container">
    <input type="text" placeholder="Hinted search text" />
    <mat-icon fontIcon="search" class="search-icon"></mat-icon>
  </div>
  <div class="navbar-icons">
    <div class="action">
      <button mat-icon-button class="btn-add" [routerLink]="['/create-set']">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>
    @if (!(profile$ | async)) {
      <button mat-flat-button class="btn-login" (click)="openDialog()">
        Login
      </button>
    } @else {
      <div class="user-avatar">
        <img src="{{ photoUrl }}" alt="" />
      </div>
    }
  </div>
</nav>
