@if (isGetFlashcardSuccess$ | async) {
  <div id="container">
    <div id="main-content">
      <div id="topic-hierarchy">
        <h3 class="title">{{ flashcard.title }}</h3>
        <div class="author-info">
          <div class="author-avatar">
            <img [src]="profile.photoUrl" alt="" />
          </div>
          <div class="author-details">
            <span class="name">{{ profile.fullName }}</span>
            <span class="time"
              >Thời gian tạo: {{ flashcard.createdAt | localTime }}</span
            >
          </div>
        </div>
      </div>
      <div id="box-content">
        <div id="regime">
          @for (item of regime; track $index) {
            <div class="card" (click)="navigate(item.value)">
              <img [src]="item.img" alt="Flashcard" />
              <span>{{ item.value }}</span>
            </div>
          }
        </div>
        <div id="lesson-content">
          <app-lesson-content [cards]="cards"></app-lesson-content>
        </div>
      </div>
      <div id="view">
        @for (item of cards; track $index) {
          <app-view [card]="item"></app-view>
        }
      </div>
    </div>
  </div>
}
