.container{
  width: 100%;
  height: auto;
  background-color: var(--md-sys-color-on-surface-variant);
}
 .padding{
  padding: 20px 0 0  50px;
 }

@media (max-width: 767px) {
  .container{
    width: 70%;
  }
  .padding{
    padding: 20px 5px 0  5px;
  }
}
