#container {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
}

#main-content {
  width: 60%;
  height: 100%;
  padding: 20px 0;
  margin-top: 1rem;
}

#box-content {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#topic-hierarchy {
  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .author-info {
    display: flex;
    align-items: center;

    .author-avatar img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    .author-details {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      .name {
        font-size: 16px;
        font-weight: 700;
      }

      .time {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

#regime {
  width: 100%;
  margin-top: 20px;
  //height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 180px;
    height: 60px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      margin-right: 10px;
    }

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

#view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  #box-content {
    flex-direction: column-reverse;

    #regime {
      height: auto;
      flex-wrap: wrap;

      .card {
        flex: 1 1 45%; /* Adjust the percentage to fit two items per row */
      }
    }
  }

  #main-content {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #regime {
    flex-direction: column;

    .card {
      width: 100%;
      margin: 0;
    }
  }
}
