<div id="container">
  <div id="main-content">
    <div id="topic-hierarchy">
      <h3 class="title">{{ flashcard.title }}</h3>
      <div class="author-info">
        <div class="author-avatar">
          <img [src]="profile.photoUrl" alt="" />
        </div>
        <div class="author-details">
          <span class="name">{{ profile.fullName }}</span>
          <span class="time">Thời gian tạo</span>
        </div>
      </div>
    </div>
    <div id="regime">
      <div class="card">
        <img src="assets/icon/flashcard.svg" alt="Flashcard" />
        <span>Flashcard</span>
      </div>
      <div class="card">
        <img src="assets/icon/learn.svg" alt="Learn" />
        <span>Learn</span>
      </div>
      <div class="card">
        <img src="assets/icon/match.svg" alt="Test" />
        <span>Test</span>
      </div>
      <div class="card">
        <img src="assets/icon/test.svg" alt="Match" />
        <span>Match</span>
      </div>
    </div>
    <div id="lesson-content">
      <app-lesson-content></app-lesson-content>
    </div>
    <div id="view">
      @for (item of cards; track $index) {
        <app-view [card]="item"></app-view>
      }
    </div>
  </div>
</div>
