:host {
  --mdc-filled-text-field-container-color: none;
  --mdc-elevated-card-container-color: none;
  --mdc-outlined-card-container-color: none;
}

.left-content h2{
  margin-top: 20px;
  margin-left: 190px;
  font-size: 30px;
  font-weight: bold;
}

.top-content{
  margin-left: 190px;
}

.example-card{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.title{
  margin-left: 16px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.input-field{
  background-color: #ffffff;
  width: 500px;
}

.input-field-left p {
  margin-left: 16px;
}

.input-field-right p {
  margin-left: 16px;
}


.bottom{
  display: flex;
  justify-content: right;
  margin-top: 30px;
  margin-right: 140px;

}

.bottom-example-card{
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
}
