:host {
  --mdc-filled-text-field-container-color: none;
  --mdc-elevated-card-container-color: none;
  --mdc-outlined-card-container-color: none;
}

#container {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
}

#main-content {
  width: 80%;
  height: 100%;
  padding: 20px 0;
}

#title {
  font-size: 30px;
  font-weight: 700;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-setting {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.label-input {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: var(--md-sys-color-outline);
}

.cards {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-content {
  width: 100%;
  display: flex;
  gap: 20px;
}

.term {
  width: 50%;
}

.term-input {
  width: 100%;
}

.definition {
  width: 50%;
}

.definition-input {
  width: 100%;
}

.buttons {
  width: 100%;
  margin-top: 20px;
}

.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-weight: 700;
  cursor: pointer;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--md-sys-color-outline);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
}

.delete-icon {
  cursor: pointer;
}

.create-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.create-bottom button {
  margin-left: auto; /* Push the button to the right */
}
