<div class="containers">
  <div class="left-content">
    <h2>Create a new  flashcard set</h2>

    <div class="top-content">
      <div class="input-field-left">
        <mat-form-field class="input-field">
          <mat-label>Enter title</mat-label>
          <input matInput>
        </mat-form-field>
        <p>TITLE</p>
      </div>

      <div class="input-field-left">
        <mat-form-field class="input-field">
          <mat-label>Add a description</mat-label>
          <input matInput>
        </mat-form-field>
        <p>DESCRIPTION</p>
      </div>

  </div>



  <div class="right-content">

  </div>

  <div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-content>
       <div class="title">
         <mat-card-title>1</mat-card-title>
         <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
       </div>
        <div class="content">
          <div class="input-field-left">
            <mat-form-field class="input-field">
              <mat-label>Enter term</mat-label>
              <input matInput>
            </mat-form-field>
            <p>Term</p>
          </div>

          <div class="input-field-right">
            <mat-form-field class="input-field">
              <mat-label>Enter definition</mat-label>
              <input matInput>
            </mat-form-field>
            <p>Definition</p>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-card class="bottom-example-card">
  <button mat-raised-button color="primary">Add another card</button>
</mat-card>

<div class="bottom">
  <button mat-raised-button color="primary">Create set</button>
</div>
</div>
