<header class="header">
  <div class="dropdown">
    <div class="dropdown-select">
      <img [src]="activeLink.imgUrl" class="icon-select" />
      <span class="select">{{ activeLink.name }}</span>
    </div>
    <div class="dropdown-list">
      @for (item of dropDownLinks; track $index) {
        @if (item.name !== activeLink.name) {
          <div class="dropdown-list__item" (click)="chooseStudyMode(item.name)">
            <img [src]="item.imgUrl" alt="" class="icon-select" />
            <span class="dropdown-list__text">{{ item.name }}</span>
          </div>
        }
      }
    </div>
  </div>
  <div class="title">
    <span>Title</span>
  </div>
  <div class="action">
    <button mat-icon-button class="btn-close">
      <mat-icon class="icon" (click)="closeStudyMode()">close</mat-icon>
    </button>
  </div>
</header>
