<header class="header">
  <div class="dropdown">
    <div class="dropdown-select">
      <img src="assets/icon/flashcard.svg" alt="" class="icon-select" />
      <span class="select">Flashcard</span>
    </div>
    <div class="dropdown-list">
      <div class="dropdown-list__item">
        <img src="assets/icon/learn.svg" alt="" class="icon-select" />
        <span class="dropdown-list__text">Learn</span>
      </div>
      <div class="dropdown-list__item">
        <img src="assets/icon/test.svg" alt="" class="icon-select" />
        <span class="dropdown-list__text">Test</span>
      </div>
      <div class="dropdown-list__item">
        <img src="assets/icon/match.svg" alt="" class="icon-select" />
        <span class="dropdown-list__text">Match</span>
      </div>
    </div>
  </div>
  <div class="title">
    <span>Title</span>
  </div>
  <div class="action">
    <button mat-icon-button class="btn-close">
      <mat-icon class="icon">close</mat-icon>
    </button>
  </div>
</header>
