<!-- Display Questions -->
<div *ngIf="!isSubmitted">
  <mat-card *ngFor="let question of questions; let i = index" class="container">
    <div class="main-content">
      <div class="top-cont">
        <h1>Definition</h1>
        <p>Question {{ i + 1 }} of {{ questions.length }}</p>
      </div>
      <div class="top">
        <h3>{{ question.term }}</h3>
      </div>

      <div class="middle">
        <p class="choose">Choose the correct term</p>
        <div class="bottom">
          <button
            class="btn"
            mat-stroked-button
            *ngFor="let option of question.answers"
            (click)="selectOption(option, i)"
            [ngClass]="{ selected: isSelected(option, i) }"
          >
            {{ option }}
          </button>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- Submit Button -->
  <div class="submit-container">
    <button mat-flat-button color="primary" (click)="submitAnswers()">
      Submit
    </button>
  </div>
</div>

<!-- Report Section -->
<div *ngIf="isSubmitted" class="report-container">
  <h2>Quiz Report</h2>
  <div *ngFor="let question of questions; let i = index">
    <mat-card class="report-card">
      <h3>{{ question.term }}</h3>
      <p>Selected: {{ selectedOptions[i] }}</p>
      <p>Correct Answer: {{ question.correctAnswer }}</p>
      <p
        [ngClass]="{
          correct: correctAnswers[i],
          incorrect: !correctAnswers[i],
        }"
      >
        {{ correctAnswers[i] ? "Correct" : "Incorrect" }}
      </p>
    </mat-card>
  </div>
</div>
