.container {
  display: flex;
  height: 700px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 100px auto 0;
  width: 1120px;
  border-radius: 20px;
}

.test-card {
  width: 1120px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  height: 100%;
}
.top-cont {
  display: flex;
  justify-content: space-between;
}
.top {
  margin-bottom: 100px;
  color: black;
  inline-size: 1000px;
}

.top-cont h1 {
  font-size: 20px;
  height: 100px;
}

.top h3 {
  height: 100px;
}

.middle {
  height: 50%;
  color: black;
}

.bottom {
  position: relative;
  margin-top: 50px;
  padding: 100px;
}

.bottom button {
  position: absolute;
  font-size: 20px;
}

.bottom button:nth-child(1) {
  top: 0;
  left: 0;
  width: 500px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 50px;
}

.bottom button:nth-child(2) {
  top: 0;
  right: 0;
  width: 500px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 50px;
}

.bottom button:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 500px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 50px;
}

.bottom button:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 500px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 50px;
}

.selected {
  background-color: rgba(128, 128, 128, 0.2);
  border-color: #000aa7;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.report-container {
  padding: 20px;
}

.report-card {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;

  h3 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin: 5px 0;
  }

  .correct {
    color: #28a745;
    font-weight: bold;
  }

  .incorrect {
    color: #dc3545;
    font-weight: bold;
  }
}
