:host {
  --mdc-elevated-card-container-color: #fff;
}

.container {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 50px auto 0;
  width: 1120px;
}

.test-card {
  width: 1120px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  height: 100%;
}

.top {
  .question {
    font-size: 26px;
    font-weight: 700;
  }
}

.middle {
  .choose {
    font-size: 14px;
    font-weight: 500;
  }

  //height: 50%;
  //color: black;
}

.bottom {
  position: relative;
  margin-top: 20px;
  padding: 80px;
}

.bottom button {
  position: absolute;
  font-size: 16px;
}

.bottom button:nth-child(1) {
  top: 0;
  left: 0;
  width: 450px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 40px;
}

.bottom button:nth-child(2) {
  top: 0;
  right: 90px;
  width: 450px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 40px;
}

.bottom button:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 450px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 40px;
}

.bottom button:nth-child(4) {
  bottom: 0;
  right: 90px;
  width: 450px;
  height: 70px;
  border-radius: 10px;
  padding: 20px 40px;
}

.selected {
  background-color: var(--md-sys-color-secondary);
}

.btn.selected {
  color: var(--md-sys-color-on-secondary);
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.report-container {
  padding: 20px;
}

.report-card {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;

  h3 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin: 5px 0;
  }

  .correct {
    color: #28a745;
    font-weight: bold;
  }

  .incorrect {
    color: #dc3545;
    font-weight: bold;
  }
}
