<mat-card appearance="outlined">
  <mat-card-content>
    <div class="main-content">
      <div class="term">
        <p>1</p>
      </div>
      <div class="definition">
        <p>2</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!--<div class="container">-->
<!--  <div class="tu">-->
<!--    <p>-->
<!--      Alabama-->
<!--    </p>-->
<!--  </div>-->
<!--  <div class="nghia">-->
<!--    <p>-->
<!--      Montgomery-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <div class="tu">-->
<!--    <p>-->
<!--      Alaska-->

<!--    </p>-->
<!--  </div>-->
<!--  <div class="nghia">-->
<!--    <p>-->
<!--      Juneau-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
