.container {
  height: 70px;
  width: 65%;
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin-bottom: 20px;
}

.tu {
  display: flex;
  padding-left: 10px;
}

.nghia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  padding-right: 10%;
}

@media (min-width: 992px) {
  .container {
    width: 65%;
  }

  .tu {
    padding-left: 20px;
  }

  .nghia {
    padding-right: 10%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 70%;
  }

  .tu {
    padding-left: 20px;
  }

  .nghia {
    padding-right: 10%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .tu {
    padding-left: 20px;
  }

  .nghia {
    padding-right: 10%;
  }
}
