:host {
  --mdc-outlined-card-container-color: #ffffff;
}

.main-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .term {
    width: 50%;
  }

  .definition {
    width: 50%;
  }
}
