<div class = "popular-question">
  <h6> Popular questions </h6>
<div class = "card-container">
  <div class = "card">
    <div class = "card-content">
      <h2> Spanish </h2>
      <p> Complete the following sentences logically, using the correct
      present-tense forms of the verbs in parentheses and any
      additional words necessary. La clase de espanol______________________.
      (terminar) </p>
    </div>
  </div>

  <div class = "card">
    <div class = "card-content">
      <h2> Spanish </h2>
      <p> Complete the following sentences logically, using the correct
      present-tense forms of the verbs in parentheses and any
      additional words necessary. La clase de espanol______________________.
      (terminar) </p>
    </div>
  </div>

  <div class = "card">
    <div class = "card-content">
      <h2> Spanish </h2>
      <p> Complete the following sentences logically, using the correct
        present-tense forms of the verbs in parentheses and any
        additional words necessary. La clase de espanol______________________.
        (terminar) </p>
    </div>
  </div>

  <div class = "card">
    <div class = "card-content">
      <h2> Spanish </h2>
      <p> Complete the following sentences logically, using the correct
        present-tense forms of the verbs in parentheses and any
        additional words necessary. La clase de espanol______________________.
        (terminar) </p>
    </div>
  </div>

  <div class = "card">
    <div class = "card-content">
      <h2> Spanish </h2>
      <p> Complete the following sentences logically, using the correct
        present-tense forms of the verbs in parentheses and any
        additional words necessary. La clase de espanol______________________.
        (terminar) </p>
    </div>
  </div>

  <div class = "card">
    <div class = "card-content">
      <h2> Spanish </h2>
      <p> Complete the following sentences logically, using the correct
        present-tense forms of the verbs in parentheses and any
        additional words necessary. La clase de espanol______________________.
        (terminar) </p>
    </div>
  </div>
</div>
</div>
