<div class="flashcard-sets">
  @if (subject) {
    <div class="flashcard-sets-header">
      <span class="header-title">{{ subject.name }}</span>
      <button mat-button>More ...</button>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="scroll">
      <div class="card-container">
        @for (flashcard of subject.flashcards; track $index) {
          <mat-card
            appearance="outlined"
            class="card"
            (click)="flashcardDetail(flashcard.id)"
          >
            <mat-card-content>
              <span class="title">{{ flashcard.title }}</span>

              <div class="word-border">
                <span class="term">{{ flashcard.totalCards }} terms</span>
              </div>

              <div class="user-avatar">
                <img
                  [src]="flashcard.authorId.photoUrl"
                  alt=""
                  class="avatar"
                />
                <span class="name">{{ flashcard.authorId.fullName }}</span>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </div>
    </cdk-virtual-scroll-viewport>
  }
</div>
