<div class="flashcard-sets">
  <div class="flashcard-sets-header">
    <span class="header-title">Flashcard Sets</span>
    <button mat-button>More ...</button>
  </div>
  <cdk-virtual-scroll-viewport itemSize="50" class="scroll">
    <div class="card-container">
      <mat-card appearance="outlined" class="card">
        <mat-card-content>
          <span class="title"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Asperiores, cupiditate distinctio earum et eveniet expedita id
            itaque iusto laborum libero molestiae nemo nostrum repudiandae,
            saepe vel? Ad laudantium minus velit.</span
          >

          <div class="word-border">
            <span class="term">5 terms</span>
          </div>

          <div class="user-avatar">
            <img src="assets/img/mtri.jpg" alt="" class="avatar" />
            <span class="name">Name</span>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <mat-card-content>
          <span class="title"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Asperiores, cupiditate distinctio earum et eveniet expedita id
            itaque iusto laborum libero molestiae nemo nostrum repudiandae,
            saepe vel? Ad laudantium minus velit.</span
          >

          <div class="word-border">
            <span class="term">5 terms</span>
          </div>

          <div class="user-avatar">
            <img src="assets/img/mtri.jpg" alt="" class="avatar" />
            <span class="name">Name</span>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <mat-card-content>
          <span class="title"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Asperiores, cupiditate distinctio earum et eveniet expedita id
            itaque iusto laborum libero molestiae nemo nostrum repudiandae,
            saepe vel? Ad laudantium minus velit.</span
          >

          <div class="word-border">
            <span class="term">5 terms</span>
          </div>

          <div class="user-avatar">
            <img src="assets/img/mtri.jpg" alt="" class="avatar" />
            <span class="name">Name</span>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <mat-card-content>
          <span class="title"
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Asperiores, cupiditate distinctio earum et eveniet expedita id
            itaque iusto laborum libero molestiae nemo nostrum repudiandae,
            saepe vel? Ad laudantium minus velit.</span
          >

          <div class="word-border">
            <span class="term">5 terms</span>
          </div>

          <div class="user-avatar">
            <img src="assets/img/mtri.jpg" alt="" class="avatar" />
            <span class="name">Name</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
