.flashcard-sets {
  width: 100%;

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .header-title {
      font-size: 24px;
      font-weight: 700;
    }

    .see-more-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 115px;
      height: 40px;
      border-radius: 100px;
      background-color: var(--md-sys-color-surface-tint);
      border: none;
      font-size: 14px;
      cursor: pointer;
      color: var(--md-sys-color-on-primary);
    }

    .see-more-btn:hover {
      background-color: var(--md-sys-color-on-primary-fixed-variant);
    }
  }
}

.scroll {
  width: 100%;
  height: 220px;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .card-container {
    width: 100%;
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    gap: 15px;

    .card {
      width: 370px;
      cursor: pointer;

      .title {
        font-size: 16px;
        font-weight: 700;
        display: -webkit-box;
        overflow: hidden;

        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }

      .word-border {
        margin-top: 10px;
        border: 1px;
        border-radius: 10px;
        padding: 0 6px;
        width: fit-content;
        display: inline-block;
        background-color: var(--md-sys-color-secondary-container);

        .term {
          font-size: 12px;
          font-weight: 600;
          color: var(--md-sys-color-on-secondary-container);
        }
      }

      .user-avatar {
        display: flex;
        align-items: center;
        margin-top: 40px;

        .avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 10px;
          object-fit: cover;
        }

        .name {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}

mat-card::before {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: var(--md-sys-color-tertiary-fixed-dim);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

mat-card:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
