<div class = "flashcard-sets1">
  <h6> Popular flashcard sets </h6>
  <div class = "card-container1">
    <div class = "card">
      <div class = "card-content" style = "position: relative;">

        <h4> Header </h4>
        <div class = "word-border"> 5 terms </div>

        <div class="user-avatar">
          <img src="" alt="Img"/>
          <p> Name </p>
        </div>
      </div>
    </div>

    <div class = "card">
      <div class = "card-content" style = "position: relative;">

        <h4> Header </h4>
        <div class = "word-border"> 5 terms </div>

        <div class="user-avatar">
          <img src="" alt="Img"/>
          <p> Name </p>
        </div>
      </div>
    </div>

    <div class = "card">
      <div class = "card-content" style = "position: relative;">

        <h4> Header </h4>
        <div class = "word-border"> 5 terms </div>

        <div class="user-avatar">
          <img src="" alt="Img"/>
          <p> Name </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "flashcard-sets2">
  <h6> Business </h6>
  <div class = "card-container2">
    <div class = "card">
      <div class = "card-content" style = "position: relative;">

        <h4> Header </h4>
        <div class = "word-border"> 5 terms </div>

        <div class="user-avatar">
          <img src="" alt="Img"/>
          <p> Name </p>
        </div>
      </div>
    </div>

    <div class = "card">
      <div class = "card-content" style = "position: relative;">

        <h4> Header </h4>
        <div class = "word-border"> 5 terms </div>

        <div class="user-avatar">
          <img src="" alt="Img"/>
          <p> Name </p>
        </div>
      </div>
    </div>

    <div class = "card">
      <div class = "card-content" style = "position: relative;">

        <h4> Header </h4>
        <div class = "word-border"> 5 terms </div>

        <div class="user-avatar">
          <img src="" alt="Img"/>
          <p> Name </p>
        </div>
      </div>
    </div>
  </div>
</div>
