.container {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  width: 100%;
  height: calc(100% - 50px);
  //background-color: #f6f7fb;
}
