.container {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 70px;
}

.main-content {
  width: 100%;
  height: calc(100% - 70px);

  .scroll {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

.slide-bar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .slide-bar {
    display: block;
    width: 190px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .slide-bar.hidden {
    left: -200px;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
  }

  .main-content.disabled {
    pointer-events: none;
    opacity: 0.5; /* Optional: to visually indicate that the content is disabled */
  }
}
