.container {
  width: 65%;
  height: 15%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .container {
    height: 15%;
    width: 70%;
  }

  h1 {
    font-size: 32px;
  }

  .author-avatar img {
    width: 40px;
    height: 40px;
  }

  .author-details p, .author-details span {
    font-size: 14px;
  }

  .btn {
    padding: 7px 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 65%;
  }

  h1 {
    font-size: 28px;
  }

  .author-avatar img {
    width: 30px;
    height: 30px;
  }

  .author-details p, .author-details span {
    font-size: 12px;
  }

  .btn {
    padding: 6px 10px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  h1 {
    font-size: 24px;
  }

  .author-avatar img {
    width: 30px;
    height: 30px;
  }

  .author-details p, .author-details span {
    font-size: 10px;
  }

  .btn {
    padding: 5px 8px;
    font-size: 8px;
  }
}

.author-info, .buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-info {
  margin-bottom: 0;
}

.author-info, .buttons {
  flex-direction: row;
}

.author-avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-details {
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.author-details p, .author-details span {
  margin: 0;
  font-size: 12px;
}

.author-details span {
  display: inline-block;
  background-color: #e9ecef;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 10px;
}

.buttons {
  gap: 10px;
  margin-top: 0;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
}
