#container {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
}

#main-content {
  width: 80%;
  height: 100%;
  padding: 20px 0;
  
  margin-top: 1rem;
}

#title {
  font-size: 30px;
  font-weight: 700;
}

#card-container {
  margin-top: 10px;
}
