.container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Ensures that cards wrap on smaller screens */
}

.card {
  border-radius: 10px;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Hover effect for cards */
.card:hover {
  transform: scale(1.02); /* Slight zoom effect on hover */
  box-shadow: rgba(180, 120, 255, 0.4) 0px 4px, 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Card image styling */
.card img {
  width: 50px;
  height: 50px;
}

/* Card text styling */
.card p {
  font-weight: 600;
  margin: 0;
}

/* For large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 60%;
    justify-content: space-between;
  }

  .card {
    width: 24%;
    height: 60px;
  }

  .card p {
    padding-right: 10px;
    font-size: 80%;
  }
}

/* For medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 70%;
  }

  .card {
    width: 24%;
    height: 50px;
  }

  .card img {
    width: 40px;
    height: 1000px;
  }

  .card p {
    font-weight: 650;
    font-size: 65%;
  }
}

/* For small devices (phones, 767px and down) */
@media (max-width: 767px) {
  .container {
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    /* Full width on small screens *//* Center content on small screens */
  }

  .card {
    width: 45%; /* Adjusted width for better alignment */
    height: 40px;
  }

  .card img {
    width: 30px;
    height: 30px;
  }

  .card p {
    font-size: 65%;
  }
}
