.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(180, 120, 255, 0.4) 0px 4px, 0 2px 5px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.card p {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .container {
    width: 65%;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--md-sys-color-on-primary);
  }

  .card {
    flex: 1 1 auto;
    height: 60px;
    max-width: calc(25% - 10px);
  }

  .card img {
    width: 40px;
    height: 40px;
  }

  .card p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 70%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .card {
    flex: 1 1 auto;
    height: 50px;
    max-width: calc(25% - 5px);
  }

  .card img {
    width: 35px;
    height: 35px;
  }

  .card p {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    flex: 1 1 45%;
    height: 50px;
  }

  .card img {
    width: 30px;
    height: 30px;
  }

  .card p {
    font-size: 12px;
  }
}
