:host {
  --mdc-linear-progress-active-indicator-height: 20px;
  --mdc-linear-progress-track-height: 20px;
  --mdc-linear-progress-buffer-height: 20px;
  --mdc-linear-progress-buffer-color: var(--mdc-filled-button-container-color);
  --mdc-linear-progress-track-color: var(--mdc-filled-button-container-color);
  --mdc-linear-progress-track-shape: 10px;
}

.containers {
  display: flex;
  justify-content: center;
  padding: 35px;
  gap: 80px;
  height: 50px;
}

.progress-bar {
  width: 40%;
  height: 20px;
  border-radius: 30px;
  display: flex;
  margin-top: 14px;
  background-color: rgba(128, 128, 128, 0.2);
}

.progress-bar mat-progress-bar {
  transition: width 0.6s ease; /* Smooth transition for the width */
}

.left-content,
.right-content {
  display: flex;
  justify-content: center;
  background-color: var(--mdc-filled-button-container-color);
  width: 95px;
  border-radius: 30px;
  height: 50px;
  padding: 14px;

  p {
    color: var(--md-sys-color-on-primary);
    font-size: 20px;
    font-weight: bold;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.mid-content {
  color: black;
  margin-top: 50px;
  text-align: left;
}

.question h2 {
  color: black;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}

.corner-buttons {
  position: relative;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;

  button {
    position: absolute;
    width: calc(50% - 10px);
    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--md-sys-color-outline);
    transition: border-color 0.3s,
    background-color 0.3s;

    &:hover {
      border-color: var(--mdc-filled-button-container-color);
      background-color: var(--mdc-filled-button-container-color);
      color: white;
    }
  }

  .top-left {
    top: 0;
    left: 0;
  }

  .top-right {
    top: 0;
    right: 0;
  }

  .bottom-left {
    bottom: 0;
    left: 0;
  }

  .bottom-right {
    bottom: 0;
    right: 0;
  }
}

.feedback {
  p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }
}

.progress {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.options button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 0.3s,
  color 0.3s;

  &.selected {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
}

.correct {
  border-color: #28a745;
}

.incorrect {
  border-color: #dc3545;
}

@media (max-width: 590px) {
  .container {
    height: 700px;
  }
}

//@media (max-width: 480px) {
//  .left-content,
//  .right-content {
//    width: 50px;
//    height: 30px;
//
//    p {
//      font-size: 16px;
//    }
//  }
//
//  .question h2 {
//    font-size: 20px;
//  }
//
//  .corner-buttons button {
//    font-size: 14px;
//  }
//
//  .mid-content {
//    font-size: 14px;
//  }
//}
