@if (isGetFlashcardSuccess$ | async) {
  <div class="containers">
    <div class="left-content">
      <p>{{ progressbar }}</p>
    </div>

    <div class="progress-bar">
      <mat-progress-bar
        mode="determinate"
        [style.width]="(progressbar / questions.length) * 100 + '%'"
      ></mat-progress-bar>
    </div>

    <div class="right-content">
      <p>{{ questions.length }}</p>
    </div>
  </div>

  <div class="container">
    <div class="main-content" *ngIf="!showScore; else scoreTemplate">
      <p>Definition</p>
      <div class="question">
        <h2>{{ currentQuestion.term }}</h2>
        <p>{{ progress }} of {{ questions.length }}</p>
      </div>

      <div class="mid-content">
        <p>Choose matching term</p>
      </div>

      <div class="corner-buttons">
        <button
          mat-stroked-button
          class="top-left"
          (click)="selectOption(currentQuestion.answers[0])"
          [disabled]="selectedOption !== ''"
        >
          {{ currentQuestion.answers[0] }}
        </button>
        <button
          mat-stroked-button
          class="top-right"
          (click)="selectOption(currentQuestion.answers[1])"
          [disabled]="selectedOption !== ''"
        >
          {{ currentQuestion.answers[1] }}
        </button>
        <button
          mat-stroked-button
          class="bottom-left"
          (click)="selectOption(currentQuestion.answers[2])"
          [disabled]="selectedOption !== ''"
        >
          {{ currentQuestion.answers[2] }}
        </button>
        <button
          mat-stroked-button
          class="bottom-right"
          (click)="selectOption(currentQuestion.answers[3])"
          [disabled]="selectedOption !== ''"
        >
          {{ currentQuestion.answers[3] }}
        </button>
      </div>

      <div class="feedback" *ngIf="showFeedback">
        <p>{{ feedback }}</p>
      </div>
    </div>
  </div>

  <ng-template #scoreTemplate>
    <h2>Your Score: {{ progressbar }}/{{ questions.length }}</h2>
    <div *ngIf="progressbar >= 8; else tryAgainTemplate">
      <p>
        🎉Hooray, you might memorize it! You can do it again by pressing the
        Restart Quiz.🎉
      </p>
    </div>
    <ng-template #tryAgainTemplate>
      <p>You should do it again.</p>
    </ng-template>
    <button mat-flat-button color="primary" (click)="restartQuiz()">
      Restart Quiz
    </button>
  </ng-template>
}
