.container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

mat-icon {
  color: var(--md-sys-color-on-surface-variant);
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 50%;
  border: #bac1c7 1px solid;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 50px;
}

mat-icon:hover {
  background-color: var(--md-sys-color-outline-variant);
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

@media (min-width: 992px) {
  .container {
    width: 60%;
  }
  mat-icon {
    color: #7e7d7d;
    width: 45px;
    height: 45px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: 0 50px;
  }
  p {
    font-size: 16px;
  }
}
