.container  {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-icon {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface-variant);
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 50%;
  border: #bac1c7 1px solid;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 50px;
}

mat-icon:hover {
  background-color: var(--md-sys-color-outline-variant);
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
/* For large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  container {
    width: 70%;
  }
  mat-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    margin: 0 100px;
  }
  p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #333;
  }
}
/* For medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  container {
    width: 70%;
  }
  mat-icon {
    width: 45px;
    height: 45px;
    font-size: 45px;
    margin: 0 75px;
  }
  p {
    font-size: 18px;
  }
}
/* For small devices (phones, 767px and down) */
@media (max-width: 767px) {
  container {
    width: 70%;
  }
  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: 0 50px;
  }
  p {
    font-size: 16px;
  }
}
