.main-content {
  position: relative;
  min-width: 100vh;
  height: 500px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform: rotateY(0deg);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.card.clicked {
  transform: rotateX(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  font-size: 30px;
}

.front {
  background: #fafafa;
  color: #000;
}

.back {
  background: #fafafa;
  color: #333;
  transform: rotateX(180deg);
}

.pagination-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

mat-icon {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface-variant);
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 50%;
  border: #bac1c7 1px solid;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 50px;
}

mat-icon:hover {
  background-color: var(--md-sys-color-outline-variant);
}
