.container, .container2 {
  position: relative;
  width: 60%;
  height: 500px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.container2 {
  background-color: #713f3f;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform: rotateY(0deg);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.card.clicked {
  transform: rotateX(180deg);
}

.theform, .theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0); /* Helps to reduce text blurriness */
  -webkit-font-smoothing: antialiased; /* For smoother fonts on WebKit browsers */
  font-weight: 600;
  font-size: 30px;
}

.theform {
  background: #fafafa;;
  color: #000;
}

.theback {
  background: #fafafa;
  color: #333;
  transform: rotateX(180deg);
}

/* For large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container2 .container {
    width: 60%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
  }

  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    transform: rotateY(0deg);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  .theform, .theback {
    font-weight: 600;
    font-size:30px;
    width: 100%;
    height: 100%;
  }
}

/* For medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container2 .container {
    width:70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
  }

  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    transform: rotateY(0deg);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  .theform, .theback {
    font-weight: 600;
    font-size: 25px;
    width: 100%;
    height: 100%;
  }
}

/* For small devices (phones, 767px and down) */
@media (max-width: 767px) {
    .container2 .container {
      width:100%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      perspective: 800px;
    }

    .card {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s ease;
      transform: rotateY(0deg);
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

    .theform, .theback {
      font-weight: 600;
      font-size: 25px;
      width: 100%;
      height: 100%;
    }
  }


