<div class="cards-container">
  @for (card of cards; track card) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ card.header }}</mat-card-title>
        <mat-card-subtitle>
          <mat-chip>{{ card.subtitle }}</mat-chip>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions align="end">
        <div class="card-content">
          <img [src]="card.imgSrc" alt="Avatar" class="avatar" />
          <span> {{ card.name }}</span>
        </div>
        <button mat-button (click)="openPreview()">Preview</button>
      </mat-card-actions>
    </mat-card>
  }
</div>
