<div class="cards-container">
  @for (card of flashcard; track card) {
    <mat-card (click)="navigate(card.id)" class="card">
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-subtitle>
          <mat-chip>{{ card.totalCards }} terms</mat-chip>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions align="end">
        <div class="card-content">
          <img [src]="card.authorId.photoUrl" alt="Avatar" class="avatar" />
          <span> {{ card.authorId.fullName }}</span>
        </div>
        <button
          mat-button
          (click)="openPreviewAndChooseFlashcard($event, card)"
        >
          Preview
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>
